* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 1133px;
  margin: 0 auto;
  padding: 50px 37px;
}

.divider {
  width: 100%;
  border: 1px solid #5f65c3;
  margin: 14px 0;
}

.checkout-content {
  display: flex;
  align-items: flex-start;
  gap: 55px;
}
